<a href="https://colab.research.google.com/github/brandnewmin/brandnewm/blob/master/dacon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
sns.set(font_scale=2.5)
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/My Drive/data/train.csv')
train.head()

   store_id        date      time  ... installments  days_of_week  holyday
0         0  2016-12-14  18:05:31  ...          NaN             2        0
1         0  2016-12-14  18:05:54  ...          NaN             2        0
2         0  2016-12-19  12:42:31  ...          NaN             0        0
3         0  2016-12-19  12:48:08  ...          NaN             0        0
4         0  2016-12-19  13:31:08  ...          NaN             0        0

[5 rows x 8 columns]

In [4]:
train['store_id'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  12,  13,
        14,  15,  16,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
       107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158,
       159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
       185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
       198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210,
       211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
       224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236,
       237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249,
       250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
       263, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276,
       277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289,
       290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302,
       303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315,
       316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328,
       329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341,
       342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354,
       355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367,
       368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380,
       381, 382, 383, 384, 386, 387, 388, 389, 390, 391, 392, 393, 394,
       395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
       408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
       421, 422, 423, 424, 425, 426, 427, 428])

In [5]:
train['store_id'].nunique()

424

In [7]:
train.shape

(1048575, 8)

In [10]:
train['date'].nunique()
type(train['date'])
#train['date'].unique()

pandas.core.series.Series

In [12]:
train['card_id'].nunique()

399981

In [17]:
type(train['time'])

pandas.core.series.Series

In [15]:
print(train.shape)
print(train['store_id'].nunique())
#print(train['date'].nunique())
print(train['card_id'].nunique())

(1048575, 8)
424
399981

## 년,월,일 나누기

In [18]:
def split_date(date):
  return date.split("-")

In [22]:
train['year'], train['month'], train['day'] = zip(*train['date'].apply(lambda x:split_date(x)))

In [23]:
train.head()

   store_id        date      time     card_id  ...  holyday  month  year  day
0         0  2016-12-14  18:05:31  d297bba73f  ...        0     12  2016   14
1         0  2016-12-14  18:05:54  d297bba73f  ...        0     12  2016   14
2         0  2016-12-19  12:42:31  0880849c05  ...        0     12  2016   19
3         0  2016-12-19  12:48:08  8b4f9e0e95  ...        0     12  2016   19
4         0  2016-12-19  13:31:08  7ad237eed0  ...        0     12  2016   19

[5 rows x 11 columns]

In [25]:
train['month'] = train['month'].astype(int)
#이게 왜 필요할까?
type(train['month'])

pandas.core.series.Series

## 상품구매에서 시간 추출

In [26]:
def split_time(time):
  return time.split(":")

In [27]:
train['hours'], train['minute'], train['second'] = zip(*train['time'].apply(lambda x:split_time(x)))

In [30]:
train.head()
#train.shape

   store_id        date      time     card_id  ...  day  hours  minute  second
0         0  2016-12-14  18:05:31  d297bba73f  ...   14     18      05      31
1         0  2016-12-14  18:05:54  d297bba73f  ...   14     18      05      54
2         0  2016-12-19  12:42:31  0880849c05  ...   19     12      42      31
3         0  2016-12-19  12:48:08  8b4f9e0e95  ...   19     12      48      08
4         0  2016-12-19  13:31:08  7ad237eed0  ...   19     13      31      08

[5 rows x 14 columns]

## new_train

In [32]:
new_train = train.iloc[:,0:12]
new_train.head()

   store_id        date      time     card_id  ...  month  year  day  hours
0         0  2016-12-14  18:05:31  d297bba73f  ...     12  2016   14     18
1         0  2016-12-14  18:05:54  d297bba73f  ...     12  2016   14     18
2         0  2016-12-19  12:42:31  0880849c05  ...     12  2016   19     12
3         0  2016-12-19  12:48:08  8b4f9e0e95  ...     12  2016   19     12
4         0  2016-12-19  13:31:08  7ad237eed0  ...     12  2016   19     13

[5 rows x 12 columns]

In [ ]:
#date['card_id']가 같으면